@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


@theme {
  /* Orange */
  --color-orange-base: #F24D0D;
  --color-orange-dark: #F43C08;

  /* Blue */
  --color-blue-light: #D7EFFF;
  --color-blue-base: #5EC5FD;
  --color-blue-dark: #009CFD;

  /* Shape */
  --color-white: #FFFFFF;
  --color-background: #FBFAF4;
  --color-shape: #F8EAEA;

  /* Grayscale */
  --color-gray-100: #DADADA;
  --color-gray-200: #949494;
  --color-gray-300: #666666;
  --color-gray-400: #3D3D3D;
  --color-gray-500: #1D1D1D;

  /* Semantic */
  --color-danger: #DC3545;
  --color-success: #28A745;

  /* Font Families */
  --font-dm-sans: "DM Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Font Sizes (opcional, mas recomendado) */
  --text-title-lg: 28px;
  --text-title-md: 24px;
  --text-title-sm: 18px;

  --text-subtitle: 16px;
  --text-body-lg: 16px;
  --text-body-md: 14px;
  --text-body-sm: 12px;
  --text-label: 10px;
}
